h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 130%;
}

.h1,
h1 {
  font-size: rem(58);
  margin-bottom: rem(10);
  font-weight: 700;
  @media #{$xsmall} {
    font-size: rem(36);
  }
}

.h2,
h2 {
  font-size: rem(36);
  margin-bottom: rem(10);
  font-weight: 700;
  @media #{$xsmall} {
    font-size: rem(30);
  }
}

.h3,
h3 {
  font-size: rem(28);
  margin-bottom: rem(10);
  font-weight: 700;
  @media #{$xsmall} {
    font-size: rem(24);
  }
}

.h4,
h4 {
  font-size: rem(24);
  font-weight: 700;
  @media #{$xsmall} {
    font-size: rem(22);
  }
}

.h5,
h5 {
  font-size: rem(20);
  font-weight: 700;
}

.h6,
h6 {
  font-size: rem(16);
  font-weight: 700;
  text-transform: uppercase;
}

.p,
p {
  font-size: rem(16);
  font-weight: 400;
  margin-bottom: rem(10);
}

a {
  font-size: rem(16);
}

.nice-type {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: rem(30);
    margin-bottom: rem(10);
    font-weight: 300;

    &:first-child {
      margin-top: 0;
    }
  }

  p {
    font-size: rem(18);
    font-weight: 300;
  }

  p a {
    font-size: rem(18);
    text-decoration: underline;
  }

  ol,
  ul {
    li {
      font-size: rem(18);
      margin-bottom: rem(15);
      margin-left: 1.5em;

      ol,
      ul {
        margin-top: rem(15);
      }
    }
  }
}
