$baseFontFamily: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$baseFontSizeLarge: 62.5%;
$baseFontSizeMedium: 56.75%;
$baseFontSizeSmall: 50%;

$brandPrimary: #6ACCBA;
$brandPrimaryLight: #ebf8f2;
$white: #ffffff;
$black: #000000;
$grayDark: #525259;
$gray: #99a7a0;
$grayLight: #e4e3ef;
$grayLightest: #eaeaec;

$backgroundFooter: #242c31;
$grayOneFooter: #5c707d;
$grayTwoFooter: #2e383e;
$grayThreeFooter: #4D585F;

/* Break Points */
$xxsmall: "screen and (max-width: 350px)";
$xsmall: "screen and (max-width: 640px)";
$small: "screen and (max-width: 800px)";
$medium: "screen and (max-width: 970px)";
$large: "screen and (max-width: 1440px)";
$xlarge: "screen and (max-width: 1700px)";
$xxsmallMin: "screen and (min-width: 351px)";
$xsmallMin: "screen and (min-width: 641px)";
$smallMin: "screen and (min-width: 801px)";
$mediumMin: "screen and (min-width: 971px)";
$largeMin: "screen and (min-width: 1441px)";
$xlargeMin: "screen and (min-width: 1701px)";
