<header class="main-header" role="banner">
  <div class="hidden-md">
    <a class="site-logo" href="/">
      <img src="images/logo-w-text.svg" alt="Kry - Läkarbesök i mobilen">
    </a>
    <nav role="navigation" class="main-nav">
      <ul class="clearfix">
        <li>
          <a href="">Hem</a>
        </li>
        <li>
          <a href="">Så funkar det</a>
        </li>
        <li>
          <a href="">Vanliga frågor</a>
        </li>
        <li>
          <a href="">Om KRY</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="visible-md">
    <a class="site-logo--small" href="/">
      <div class="small-logo">
        <div class="small-logo__image">
          <img src="images/logo.png" alt="Kry logga">
        </div>
        <div class="small-logo__text">
          <h1>Kry</h1>
          <h2>Läkarbesök i mobilen</h2>
        </div>
      </div>
    </a>
    <a class="btn btn-primary" href="#">Hämta i AppStore</a>
  </div>
</header>
