<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Urinvägsinfektion</title>

  <!-- Mobile meta start -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="375">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="title" content="Urinvägsinfektion">
  <meta name="description" content="Kry">
  <meta name="keywords" content="Kry, Urinvägsinfektion">
  <!-- Mobile meta end -->

  <!-- Open Graph start -->
  <meta property="og:url" content="https://kry.se">
  <meta property="og:type" content="website">
  <meta property="og:title" content="KRY - Träffa läkare online">
  <meta property="og:site_name" content="KRY - Träffa läkare online">
  <meta property="og:description" content="Med KRY kan du enkelt träffa läkare via videomöte, oavsett var du befinner dig. Videomötet sker i din dator, mobiltelefon eller läsplatta. Du kan få råd, recept på läkemedel, remiss till vidare vård eller sjukintyg - precis som vid ett vanligt läkarbesök.">
  <meta property="og:locale" content="sv_SE">
  <meta property="og:locale:alternate" content="en_GB">
  <meta property="og:image" content="https://d1qa8wea41dsvx.cloudfront.net/video_still.jpg">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="2000">
  <meta property="og:image:height" content="1048">
  <meta property="fb:app_id" content="652806498157456">
  <meta property="og:video" content="https://d1qa8wea41dsvx.cloudfront.net/videosound.mp4">
  <meta property="og:video:secure_url" content="https://d1qa8wea41dsvx.cloudfront.net/videosound.mp4">
  <meta property="og:video:type" content="video/mp4">
  <meta property="og:video:width" content="1280">
  <meta property="og:video:height" content="720">
  <!-- Open Graph End -->
  <link rel="icon" type="image/png" href="images/favicon-196x196.png" sizes="196x196">
  <!-- Our Styles -->
  <link rel="stylesheet" href="css/styles.css" />
  <!-- Safari, Chrome, Firefox, Opera -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,700,700i" rel="stylesheet">
</head>

<body>
