<header class="main-header">
  <div class="container container--no-grid">
    <div class="main-header__large hidden-md clearfix">
      <a class="site-logo" href="/">
        <img src="images/logo-w-text.svg" alt="Kry - Läkarbesök i mobilen">
      </a>
      <nav class="main-nav">
        <ul class="clearfix">
          <li>
            <a href="">Hem</a>
          </li>
          <li>
            <a href="">Så funkar det</a>
          </li>
          <li>
            <a href="">Vanliga frågor</a>
          </li>
          <li>
            <a href="">Om KRY</a>
          </li>
          <li>
            <a href="">In English</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="main-header__small visible-md clearfix">
      <a class="small-site-logo" href="/">
        <div class="small-site-logo__image">
          <img src="images/logo.png" alt="Kry logga">
        </div>
        <div class="small-site-logo__text">
          <h1>Kry</h1>
          <h2>Läkarbesök i mobilen</h2>
        </div>
      </a>
      <div class="cta-button">
        <a class="btn btn--primary" href="#">
          <span class="hidden-xs">Hämta i AppStore</span>
          <span class="visible-xs">Hämta app</span>
        </a>
      </div>

    </div>
  </div>



</header>
